<h2><%= t('views.users.title', email: @user.email) %></h2>

<div class="show-item">
  <%= render @user %>
</div>

<nav class="page-nav">
  <%= link_to t('views.common.back', name: i18n_pluralize(User.model_name.human)), users_path %>
</nav>
