<div class="mentions-container">
<% if mentioned_reports.any? %>
  <strong><%= t('views.common.mention_title', name: Report.model_name.human) %></strong>
  <ul>
    <% mentioned_reports.each do |report| %>
      <li>
        <%= link_to report.title, report %>
        <small>
          <%= t('views.common.mention_by') %>
          <%= "(#{l report.created_at.to_date})" %>
        </small>
      </li>
    <% end %>
  </ul>
<% end %>
